{% block content %}
{% load static %}

<!Doctype html>
<html>

<head>
    <link rel="shortcut icon" type="image/png" href="st.png">
    <link rel="stylesheet" href="{% static 'css/choose project.css'%}">
    <title>My Project</title>
</head>

<body>
    <h1> Choose system: </h1>
    <a>
        <h2>Human Resources</h2>
    </a>
    <a href="{% url 'page1' %}">
        <h2>Students Affairs</h2>
    </a>
    <a>
        <h2>Higher Studies</h2>
    </a>

    <a>
        <h2>Laboratory Tracking</h2>
    </a>
</body>

</html>




{% endblock content %}






